[APICONFIG]
GooglePrivateKey = -----BEGIN PRIVATE KEY-----\nxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n-----END PRIVATE KEY-----\n
GoogleEmail = xxxxxx@xxxxxxxxxxx.iam.gserviceaccount.com
SpreadsheetID = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RangeName = Sheet1!A1:B6
SheetName = Sheet1
